PORT= # Application port
MONGODB_USER= # User
MONGODB_PASSWORD= # Password
MONGODB_URL= # URL
MONGODB_DB= # DB

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=
APP_DOMAIN=

CLOUD_NAME=
API_KEY=
API_SECRET=
